@use '../../variables';

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    padding: 12px 16px;
    background-color: #ffeafa;
}

.editSubjectTitleButton {
    border: none;
    background-image: variables.$background-gradient;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    transition-duration: variables.$transition;
    border: 2px solid rgba(0, 0, 0, 0);

    &:hover {
        cursor: pointer;
        transition-duration: variables.$transition;
        border: 2px solid variables.$icon-color;
    }
}

.singleSubject {
    padding-bottom: 12px;
    border-bottom: solid 2px variables.$separator-colour;
    overflow: auto;
    .subject-title {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 10px;
        row-gap: 4px;
        grid-template-areas:
            'title edit-button'
            'date date';
        margin-bottom: 8px;
        h2 {
            grid-area: title;
            font-size: 32px;
        }
        button {
            grid-area: edit-button;
        }
        p {
            grid-area: date;
        }
    }

    .subjectCardGroups {
        display: flex;
        flex-flow: row nowrap;
        gap: 24px;
        transition-duration: 100ms;
    }

    .singleCardGroup {
        background-image: variables.$background-gradient;
        padding: 10px 15px;
        border: 6px solid rgba(0, 0, 0, 0);

        border-radius: 14px;
        min-height: 160px;
        min-width: 270px;
        transition-duration: variables.$transition;

        &:hover {
            transform: scale(1.05);
            transition-duration: variables.$transition;
            cursor: pointer;
        }

        .date {
            font-size: 16px;
        }
        h3 {
            font-size: 24px;
        }
    }
}
