@use '../../variables';

.cardController {
    background-color: #ffeafa;
    min-width: 750px;
    min-height: 400px;
    padding: 57px 0;
    position: relative;
    border-radius: 40px;

    .returnButton {
        @include variables.defaultButton(60px, 30px, 2px, 1);
        border-radius: 10px;
        padding: 0 4px;
    }

    h2 {
        font-size: 36px;
        font-weight: 600;
    }

    .cardHeader {
        text-align: center;
    }

    .cardButtonGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        button {
            @include variables.defaultButton(80px, 30px, 2px, 1);
            border-radius: 10px;
            padding: 0 4px;
        }
    }
}

.controllerDefault,
.controllerEdit,
.controllerFlip,
.controllerAdd {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.controllerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffadc680;
    display: flex;
    align-items: center;
    justify-content: center;
}
