@use '../../variables';

.footer {
    margin: 0 auto;
    padding: 20px;
    height: 60px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-image: variables.$background-gradient;
    grid-template-areas: '. text .';
    width: 100%;

    ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 100%;
        max-width: 1160px;
        grid-area: text;
    }

    &::after {
        content: '';
        height: 60px;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
}
