@use '../../variables';

.newCardGroupButton {
    background-image: variables.$background-gradient;
    border-radius: 14px;
    border: none;
    width: 42px;
    min-height: 160px;
    transition-duration: variables.$transition;
    flex: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.08);
        transition-duration: variables.$transition;
    }
}
