@use '../../variables';

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4px 10px;
    color: variables.$font-color;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 12px;
    height: 48px;
    h2 {
        font-weight: 900;
        font-size: 30px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.304);
    }
    h3 {
        font-weight: 400;
        font-size: 16px;
    }

    &::after {
        content: '';
        background-image: variables.$background-gradient;
        height: 48px;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
