@use '../../variables';

.cardFlip {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    h3 {
        font-size: 40px;
    }

    button {
        @include variables.defaultButton(80px, 40px, 2px, 1);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}
