@use '../../variables';

.newCardGroupForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'input input';
    height: fit-content;
    row-gap: 10px;
    column-gap: 12px;

    input {
        grid-area: input;
        font-size: 24px;
        font-weight: 600;
    }

    button {
        background-image: variables.$background-gradient;
        width: 120px;
        padding: 8px auto;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        transition-duration: variables.$transition;
        border: 4px solid rgba(0, 0, 0, 0);
        padding: 4px;
        justify-self: center;

        &:hover {
            cursor: pointer;
            transition-duration: variables.$transition;

            border: 4px solid variables.$icon-color;
        }
    }
}
